streamlit==1.36.0
openai==1.9.0
langchain==0.2.11
langchain-core==0.2.26
langchain-community==0.2.10
langchain-groq==0.1.9
langsmith==0.1.79
python-docx==1.1.0
docx2txt==0.8
pypandoc==1.13
reportlab==4.2.2
openpyxl==3.1.2
odfpy==1.4.1




